@use 'base/variables' as v;
@use 'base/mixins' as m;
.pasos {
    margin-top: 5rem;
    &__wave {
        margin-bottom: -1px;
    }
    &__contenido {
        background-color: v.$primario;
    }
    &__heading {
        text-align: center;
        color: v.$blanco;
        &__descripcion {
            font-size: 1.8rem;
            display: block;
        }
    }
    &__paso {
        position: relative;
        text-align: center;
        height: 680px;
    }
    h3 {
        font-size: 2rem;
        margin: 0 auto;
    }
    ul {
        padding: 0;
    }
    &__slider {
        width: 100%;
    }
    &__grid {
        height: auto;
        @include m.tablet {
            @include m.grid(3, v.$separacion);
        }
    }
    &__imagen {
        height: 603px;
        max-width: 100%;
        transition: transform 300ms ease-in-out;
        &:hover {
            transform: rotate(-4deg);
        }
    }
}