@use 'base/variables' as v;
@use 'base/mixins' as m;
.testimoniales {
    padding: v.$separacion;
    /*loader*/
    .loader {
        width: 48px;
        height: 48px;
        border: 3px solid #FFF;
        border-radius: 50%;
        display: block;
        position: relative;
        box-sizing: border-box;
        margin: 0 auto;
        animation: rotation 1s linear infinite;
    }
    .loader::after {
        content: '';
        box-sizing: border-box;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-bottom-color: #FF3D00;
        background-color: #455a64;
    }
    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    /*end:loader*/
    &__heading {
        text-align: center;
    }
    &__grid {
        @include m.tablet {
            @include m.grid(5, 2rem);
        }
    }
}